.carousel-inner img {
    margin-left: auto;
    margin-right: auto;
}

.caption.row-fluid {
    background-color: #eeeeee;
    border-radius: 6px;
    text-align: center;
    margin-top: 10px;
}

ol.carousel-indicators {
    bottom: 0;
    margin-left: inherit;
    width: inherit;
    left: inherit;
    right: 15px;
    text-align: inherit;
}

ol.carousel-indicators li {
    /*background-color: #ff111f;*/
    border: 2px solid #000;
    border-radius: 0;
}

.carousel-control {
    background: none;
    border: none;
    left: -5px;
    right: -5px;
}

.carousel-control.left {
    background-image: none;
    left: -10px;
}

.carousel-control.right {
    right: -10px;
    background-image: none;
}